#anuncioTop{
    font-family: 'Lobster', cursive;
    font-size: 35px;
}
/*Fin del Anuncio*/
/*Inicio Menu*/
#menu{
    margin-bottom: 35px;
}
/*Fin Menu*/
.fas.fa-search, .fas.fa-shopping-cart{font-size: 25px;}
h1,h2{
    font-family: 'Cuprum', sans-serif;
    font-size: 30px;
    margin-top: 10px;
}
#search-car{
    border-bottom-color: green;
    border-bottom-width: 3px;
}
#search-marca, #search-modelo, #search-motor{
    border-bottom-color:blue;
    border-bottom-width: 3px;
}
#loginLogo{
    display: inherit !important;
    padding-top: 20px;
    font-size: 40px;
}
#seleccionVehiculo{margin: 20px 0px;}
#carousel{padding-right: 0px;}
#titulo-seleccion-vehiculo{
    padding-top: 20px;
    padding-bottom: 55px;
}
/*Inicio Servicio*/
#servicios{
    margin: 50px 0px 30px;
}
.rounded{
    height: 110px;
}
.col-9 p{
    font-size: 12px;
}
i.fas.fa-tags, i.fas.fa-shipping-fast, i.fas.fa-stopwatch{
    padding-top: 25px;
    font-size: 50px;
}

#blog{margin-top: 30px;}
#footer{height: 30px;}
div.col-4{padding: 0;}
.fab.fa-twitter, .fab.fa-instagram, .fab.fa-facebook-f{font-size: 20px;}
#footer-nombre, #footer-derechos{text-align: center;}